*{
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    display: flex;
    width: 100%;
}

.main .menu{
    width: 20%;
}

.main .content{
    width: 80%;
}

/* ************************************** */

div{
    box-sizing: border-box;
}
#content
{
    border: 1px solid grey;
    border-radius: 10px; 
    width: 300px;
    height: 550px;
    margin:5px auto 5px auto;
    overflow: auto;
    background-color: darkgrey;
    padding: 3px;
    
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 100%;
    height: 25px;
    margin: 3px 0 3px 0;
}

#content .translation .sentence
{
    border: 1px solid grey;
    padding: 20px;
    margin: 3px 0 3px 0;
    border-radius: 7px;
    background-color: white;
}

/* Customize the scrollbar */
#content::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar (for horizontal bars) */
}

/* Track (background of the scrollbar) */
#content::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background color of the track */
    border-radius: 6px; /* Rounded corners for the track */
}

/* Thumb (the draggable part of the scrollbar) */
#content::-webkit-scrollbar-thumb {
    background: darkgrey; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

/* Hover effect on the thumb */
#content::-webkit-scrollbar-thumb:hover {
    background: darkgrey; /* Darker color when hovered */
}

#menu
{
    border: 1px solid grey;
    border-radius: 10px; 
    width: 300px;
    height: 50px;
    margin:5px auto 5px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: darkgrey;
}

#menu .button
{
    border: 1px solid grey;
    border-radius: 7px;
    width: 45px;
    height: 45px;
    margin: 0 1px 0 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: white;
}

#play
{
    border: 1px solid grey;
    border-radius: 20px; 
    width: 40px;
    height: 40px;

    margin: 5px;
    align-items:center ;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon
{
    width: 25px;
    height:25px; 
}



.textA
{
    margin: 5px;
    padding: 5px;
    border: 1px solid green;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.textB
{
    margin: 5px;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.progress
{
    width: 5px;
    height: 5px;
    margin: 5px;
    border: 1px solid green;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
}

#mysql_dump
{
    margin: auto;
    width: 1200px;
    height: 600px;
}